@charset 'UTF-8';

// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

.popup-wrapper {
  .popup {
    .popup-content {
      .form-guide {
        margin: 0;
        @include set-font(1.4rem, 500, $color-gray-01, 1.4);
        > span {
          color: #1d76fb;
        }
      }
      .field {
        position: relative;
        .field-header {
          @include set-flex(row, space-between, center);
          align-items: end;
          padding-bottom: 1.2rem;
          .field-title {
            position: relative;
            margin: 0;
            @include set-font(1.6rem, 500, $color-gray-01, 1.4);
          }
        }
        &.required {
          .field-header {
            .field-title {
              &:after {
                content: "*";
                display: inline-block;
                margin-left: 0.2rem;
                @include set-font(inherit, inherit, #1d76fb, 1.1);
                vertical-align: top;
              }
            }
          }
        }
        > .btn-set-target {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0 1rem 0 1.4rem;
          height: 2.8rem;
          @include set-font(1.2rem, 500, $color-gray-01, 1.1);
        }
      }
    }
  }
  .popup-view-assigned {
    .popup-content {
      .field {
        .field-label {
          margin-bottom: 1.2rem;
          @include set-font(1.6rem, 500, $color-gray-01, 1.4);
        } 
      }
      .field-form {
        .field-box {
          .text {
            display: inline-block;
            @include set-font(1.4rem, normal, $color-gray-02, 1.4);
          }
          .table-wrapper {
            margin-bottom: 0;
            border-top: 0;
          }
          .table {
            border-top: 1px solid rgba(53, 64, 86, 0.1);
            border-bottom: 1px solid rgba(53, 64, 86, 0.1);
            table {
              border: 0;
            }
            tbody {
              th {
                padding: 0.8rem 1.2rem;
                border-top: 1px solid rgba(53, 64, 86, 0.1);
                border-right: 1px solid rgba(53, 64, 86, 0.1);
                background-color: $color-gray-04;
                @include set-font(1.4rem, bold, #697387, 1.4);
              }
              td {
                padding: 0.8rem 1.2rem;
                border-top: 1px solid rgba(53, 64, 86, 0.1);
                @include set-font(1.4rem, 400, $color-gray-01, 1.4);
              }
              tr {
                &:first-child {
                  th {
                    border-top: 0;
                  }
                  td {
                    border-top: 0;
                  }
                }
              }
            }
          }
        }
      } 
    }
  }
  .popup-notice-detail {
    .popup-content {
      padding-bottom: 0;
    }
    .notice-state {
      @include set-flex(row, space-between, center);
      .notice-tit {
        @include set-font(1.8rem, bold, $color-gray-01, 1.3);
        max-width: 40rem;
        word-break: break-all;
      }
      .notice-date {
        @include set-font(1.4rem, normal, $color-gray-02, 1.4);
      }
    }
    .notice-detail {
      margin-top: 1.6rem;
      @include set-font(1.6rem, normal, $color-gray-01, 1.5);
      word-break: break-all;
      overflow-y: auto;
      max-height: calc(100vh - 35rem);
    }
  }

  .popup-send-message {
    width: 73.4rem;
    max-width: 73.4rem;
    .popup-content {
      .field {
        position: relative;
      }
      .field-form {
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        .field-message-item {
          float: left;
          margin: 0 0 1.6rem 1.6rem;
          width: calc((100% - 3.2rem) / 3);
          label {
            overflow: hidden;
            display: block;
            padding: 0;
            border: 1px solid $color-border-05;
            border-radius: 0.6rem;
            .thumb {
              @include set-flex(row, center, center);
              height: 12.3rem;
            }
            .item-name {
              margin: 0;
              padding: 1.2rem 1.6rem;
              @include set-font(1.6rem, bold, #5c6370, 1.4);
              span {
                display: block;
                height: 5rem;
                overflow: hidden;
                word-break: break-all;
              }
            }
            .text-type {
              padding: 1.5rem 2.5rem;
              height: 12.3rem;
              border-bottom: 1px solid #dadde2;
              @include set-font(2rem, 400, #333333);
              span {
                display: block;
                height: 9rem;
                overflow: hidden;
                word-break: break-all;
              }
            }
          }
          input[type="radio"] {
            + label {
              &:before {
                left: auto;
                right: 0.6rem;
                top: 0.8rem;
                transform: translate(0);
              }
              &:after {
                left: auto;
                right: 1.1rem;
                top: 1.3rem;
                transform: translate(0);
              }
            }
          }
          &:nth-child(3n+1) {
            margin-left: 0;
          }
          &.messageType01 {
            label {
              .thumb {
              background: asset-image('thumb/bg_noitem01.png') no-repeat center / cover;
              }
            }
          }
          &.messageType02 {
            label {
              .thumb {
              background: asset-image('thumb/bg_noitem02.png') no-repeat center / cover;
              }
            }
          }
          &.messageType03 {
            label {
              .thumb {
              background: asset-image('thumb/bg_noitem03.png') no-repeat center / cover;
              }
            }
          }
          &.messageType04 {
            label {
              .thumb {
              background: asset-image('thumb/bg_noitem04.png') no-repeat center / cover;
              }
            }
          }
          &.messageType05 {
            label {
              .thumb {
              background: asset-image('thumb/bg_noitem05.png') no-repeat center / cover;
              }
            }
          }
          &.messageType06 {
            label {
              .thumb {
              background: asset-image('thumb/bg_noitem06.png') no-repeat center / cover;
              }
            }
          }
        }
      }
    }
  }

  
}

// 모바일 처리
@media screen and (max-width: 640px) {
  .popup-wrapper {
    .popup-send-message {
      .popup-content {
        .field-form {
          .field-message-item {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }  
    }
    .popup-content {
      .message-target-wrap {
        .message-target-info {
          .message-target {
            .message-target-item {
              display: block !important;
              max-width: max-content;
            }
          }  
        }
      }
    }
  }
}